<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./static/css/style.css">
    <script src="https://kit.fontawesome.com/e29182f907.js" crossorigin="anonymous"></script>
    <title>Forum Maquette</title>
</head>
<body>
    <!-- NAVBAR EN HAUT -->
    <nav class="navbar">
        <div class="navbar-logo">LOGO</div>
        <input type="text" class="navbar-search" placeholder="Rechercher ..." />
        <div class="navbar-btns">
            <button class="navbar-btn" onclick="window.location.href='./log-in.html'"><i class="fa-regular fa-user"></i></button>
            <button class="navbar-btn" onclick="window.location.href='/notifications'"><i class="fa-regular fa-bell"></i></button>
        </div>
    </nav>
    <div class="layout">
        <!-- Sidebar Left -->
        <aside class="sidebar">
            <div class="sidebar-separator"></div>
            <button class="sidebar-bottom-btn" onclick="window.location.href='./create-post.html'"><i class="fa-solid fa-plus"></i> Créer</button>
        </aside>
        <div class="main-area">
            <div class="content-area">
                <div class="center-area">
                    <!-- Posts -->
                    <section class="posts">
                        <div class="post-card">
                            <button class="post-bandeau" onclick="window.location.href='/comment-card'"></button>
                            <button class="post-badge" onclick="window.location.href='/join-card'"></button>
                            <div class="post-actions">
                                <button class="post-action-btn">
                                    <i class="fa-solid fa-minus"></i>
                                </button>
                                <span class="post-votes">0</span>
                                <button class="post-action-btn">
                                    <i class="fa-regular fa-plus"></i>
                                </button>
                                <button class="post-action-btn">
                                    <i class="fa-regular fa-heart"></i>
                                </button>
                            </div>
                        </div>
                        <div class="post-card">
                            <button class="post-bandeau"></button>
                            <button class="post-badge"></button>
                            <div class="post-actions">
                                <button class="post-action-btn">
                                    <i class="fa-solid fa-minus"></i>
                                </button>
                                <span class="post-votes">0</span>
                                <button class="post-action-btn">
                                    <i class="fa-regular fa-plus"></i>
                                </button>
                                <button class="post-action-btn">
                                    <i class="fa-regular fa-heart"></i>
                                </button>
                            </div>
                        </div>
                        <div class="post-card">
                            <button class="post-bandeau"></button>
                            <button class="post-badge"></button>
                            <div class="post-actions">
                                <button class="post-action-btn">
                                    <i class="fa-solid fa-minus"></i>
                                </button>
                                <span class="post-votes">0</span>
                                <button class="post-action-btn">
                                    <i class="fa-regular fa-plus"></i>
                                </button>
                                <button class="post-action-btn">
                                    <i class="fa-regular fa-heart"></i>
                                </button>
                            </div>
                        </div>
                        <div class="post-card">
                            <button class="post-bandeau"></button>
                            <button class="post-badge"></button>
                            <div class="post-actions">
                                <button class="post-action-btn">
                                    <i class="fa-solid fa-minus"></i>
                                </button>
                                <span class="post-votes">0</span>
                                <button class="post-action-btn">
                                    <i class="fa-regular fa-plus"></i>
                                </button>
                                <button class="post-action-btn">
                                    <i class="fa-regular fa-heart"></i>
                                </button>
                            </div>
                        </div>
                        <div class="post-card">
                            <button class="post-bandeau"></button>
                            <button class="post-badge"></button>
                            <div class="post-actions">
                                <button class="post-action-btn">
                                    <i class="fa-solid fa-minus"></i>
                                </button>
                                <span class="post-votes">0</span>
                                <button class="post-action-btn">
                                    <i class="fa-regular fa-plus"></i>
                                </button>
                                <button class="post-action-btn">
                                    <i class="fa-regular fa-heart"></i>
                                </button>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="right-area">
                    <aside class="rightbar">
                        <div class="rightbar-card"></div>
                    </aside>
                </div>
            </div>
        </div>
    </div>
</body>

</html>